.btn-inicial {
  background: linear-gradient(90deg, #007bff 0%, #0056b3 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 14px 32px;
  font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 4px 14px rgba(0, 123, 255, 0.2);
  cursor: pointer;
 /* transition: background 0.3s, transform 0.2s;*/
  margin: 10px;
}

.btn-inicial:hover {
  background: linear-gradient(90deg, #0056b3 0%, #007bff 100%);
  transform: translateY(-2px) scale(1.04);
  box-shadow: 0 6px 20px rgba(0, 86, 179, 0.25);
}